@charset "utf-8";
/* CSS Document */

body {
	font-family:"myriad-pro",helvetica,arial,sans-serif;
	margin:0px;
	padding:0px;	
}



input, select {
	font-family:"myriad-pro-condensed",helvetica,arial,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	line-height:100%;	
}

h1 {font-size:21pt}
h2 {font-size:16pt}
h3 {font-size:14pt}
h3.title, p.download {
	font-family:"myriad-pro-condensed",helvetica,arial,sans-serif;
	text-align:center;
}

h3.title {
	padding-bottom:0px;
	margin-bottom:0px;	
}

p.download {
	margin-top:0px;
	padding-top:0px;	
}

p.titleBlurb {
	font-size:13pt;
	margin-top:0pt;
	padding-top:0pt;
	letter-spacing: -0.4px;	
	font-weight:400;
}

h1 {
	margin-top:0px;
	padding-top:0px;
	margin-bottom:5px;
	padding-bottom:5px;	
}

h2 {
	margin-top:0px;
	padding-top:0px;	
}


select#stateLocal {
	font-size:16pt;
	font-weight:700;	
}

#wrapper {
	position:relative;
	overflow:hidden;
	max-width:525px;
	margin-left:auto;
	margin-right:auto;
	width: 525px;	
}

#yearSlider {
	height:40px;
	border:0px;
	background:#fff;
	width:90%;
	left:5%;
}

#yearSlider .hLine {
	position:absolute;
	background-color:#aaa;
	height:1px;
	width:100%;
	top:10px;
	left:-5px;	
}

#yearSlider .yLabel {
	position:absolute;	
	font-family:"myriad-pro-condensed";
	font-size:16px;
	color:#aaa;
	top:5px;
}

#yearSlider .yLabel div {
	position:relative;
	left:-12px;
}

#yearSlider .vLine {
	position:absolute;
	background-color:#aaa;
	width:1px;
	height:6px;
	top:-3px;
}

#yearSlider .ui-slider-handle {
	background:#000;
	border:0px;
	height:10px;
	width:10px;	
	border-radius:0px;
	top:5px;
	outline:none;
}

#yearSlider .ui-slider-handle span {
	position:relative;
	color:#000;
	font-family:"myriad-pro-condensed",helvetica,arial,sans-serif;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	left:-8px;
	top:-20px;
}

#map {
	width:100%;
	font-family:"myriad-pro-condensed",helvetica,arial,sans-serif;	
	position:relative;
}

#map .popup {
	position:absolute;
	display:block;
	background-color:#E1E1E1;
	font-size:16px;
	padding:5px;
	border: 1px solid #aaa;	
}

#map .popup h4 {
	margin-top:0px;
	margin-bottom:0px;	
}

#map .popup ul {
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding-left:30px;
}

#map text {
	cursor:pointer;	
}

#legend {
	width:50%;
	position:absolute;
	height:40px;
	left:25%;
	top:-10%;
}

#charts {
	height:220px;	
}

#charts .chartArea {
	width:48%;
	height:100%;
	position:relative;
	font-family:"myriad-pro-condensed",helvetica,arial,sans-serif;
}

#charts .chartArea .chartCon {
	position:absolute;
	bottom:0px;
	height:85%;
	width:113%;	
}

#incarcerationGraphArea {
	float:left;
}

#spendingGraphArea {
	float:right;
}

#facts {
	margin-top:30px;
	font-family:"myriad-pro-condensed",helvetica,arial,sans-serif;
	background-color:#eee;
	border-top:1px solid #444;
	border-bottom:1px solid #444;
	padding:5px;
}

#facts p, #facts h3  {
	margin-top:0.3em;
	margin-bottom:0.3em;
	padding-top:0.0em;
	padding-bottom:0.0em;	
}

#facts .leftColumn {
	width:47%;	
	float:left;
	height:100%;
}

#facts .rightColumn {
	width:47%;
	float:right;
	border-left:1px dotted #aaa;
	padding-left:1%;	
	height:100%;
}

#facts .clear {
	clear:both;	
}

#notes {
	font-size:12px;	
}

#factStatePicker {
	font-size:16px;	
}