@charset "utf-8";
/* CSS Document */

body {
	font-family:"myriad-pro",helvetica,arial,sans-serif;
	margin:0px;
	padding:0px;	
}

a {
	text-decoration:none;	
}

a:hover {
	text-decoration:underline;	
}

input, select, shape {
	font-family:"myriad-pro-condensed",helvetica,arial,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	line-height:100%;	
}

h1 {font-size:21pt}
h2 {font-size:16pt}
h3 {font-size:14pt}
h3.title, p.download {
	font-family:"myriad-pro-condensed",helvetica,arial,sans-serif;
	text-align:center;
}

.yesTouchscreen {
	display:none;
}

.yearSelectArea {
	text-align:center;
	font-size:16px;
	margin-left:auto;
	margin-right:auto;	
}

h3.title {
	padding-bottom:0px;
	margin-bottom:0px;	
}

p.download {
	margin-top:0px;
	padding-top:0px;	
}

p.titleBlurb {
	font-size:13pt;
	margin-top:0pt;
	padding-top:0pt;
	letter-spacing: -0.4px;	
	font-weight:400;
}

h1 {
	margin-top:0px;
	padding-top:0px;
	margin-bottom:5px;
	padding-bottom:5px;	
}

h2 {
	margin-top:0px;
	padding-top:0px;	
}


select#stateLocal {
	font-size:16pt;
	font-weight:700;	
}

#wrapper {
	position:relative;
	overflow:hidden;
	max-width:525px;
	margin-left:auto;
	margin-right:auto;
	width: 525px;	
	/*visibility:hidden;*/
}

#yearSlider {
	height:40px;
	border:0px;
	background:#fff;
	width:90%;
	left:5%;
}

#yearSlider .hLine {
	position:absolute;
	background-color:#aaa;
	height:1px;
	width:100%;
	top:10px;
	left:-5px;	
}

#yearSlider .yLabel {
	position:absolute;	
	font-family:"myriad-pro-condensed";
	font-size:16px;
	color:#aaa;
	top:5px;
}

#yearSlider .yLabel div {
	position:relative;
	left:-12px;
}

#yearSlider .vLine {
	position:absolute;
	background-color:#aaa;
	width:1px;
	height:6px;
	top:-3px;
}

#yearSlider .ui-slider-handle {
	background:#000;
	border:0px;
	height:10px;
	width:10px;	
	border-radius:0px;
	top:5px;
	outline:none;
	cursor:e-resize;
}

#yearSlider .ui-slider-handle span {
	position:relative;
	color:#000;
	font-family:"myriad-pro-condensed",helvetica,arial,sans-serif;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	left:-8px;
	top:-20px;
}

#map {
	width:100%;
	font-family:"myriad-pro-condensed",helvetica,arial,sans-serif;	
	position:relative;
}

#map .popup {
	position:absolute;
	display:block;
	background-color:#E1E1E1;
	font-size:16px;
	padding:5px;
	border: 1px solid #aaa;	
}

#map .popup h4 {
	margin-top:0px;
	margin-bottom:0px;	
}

#map .popup ul {
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding-left:30px;
}

#map text {
	cursor:pointer;	
}

#legend {
	width:50%;
	position:absolute;
	height:40px;
	left:25%;
	top:-10%;
}

#charts {
	height:220px;	
}

#charts .chartArea {
	width:48%;
	height:100%;
	position:relative;
	font-family:"myriad-pro-condensed",helvetica,arial,sans-serif;
}

#charts .chartArea .chartCon {
	position:absolute;
	bottom:0px;
	height:85%;
	width:113%;	
}

#incarcerationGraphArea {
	float:left;
}

#spendingGraphArea {
	float:right;
}

#flotTooltip {
	font-family:"myriad-pro-condensed",helvetica,arial,sans-serif;	
	position: absolute;
	display: none;
	padding: 2px;
	color:#0081a4;
	font-size:18px;
	line-height:20px;
	background-color:#fff;
	opacity:0.8;
	 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

#facts {
	margin-top:30px;
	font-family:"myriad-pro-condensed",helvetica,arial,sans-serif;
	background-color:#eee;
	border-top:1px solid #444;
	border-bottom:1px solid #444;
	padding:5px;
}

#facts p, #facts h3  {
	margin-top:0.3em;
	margin-bottom:0.3em;
	padding-top:0.0em;
	padding-bottom:0.0em;	
}

#facts .leftColumn {
	width:47%;	
	float:left;
	height:100%;
}

#facts .rightColumn {
	width:48.6%;
	float:right;
	border-left:1px dotted #aaa;
	padding-left:1.5%;	
	height:100%;
}

#facts .clear {
	clear:both;	
}

#notes {
	font-size:12px;	
}

#factStatePicker {
	font-size:16px;	
}

div.credits {
	font-family:"myriad-pro";
	position:relative;	
}

div.credits p {
	font-size:12px;
	padding:0em;
	margin:0em;
}

#cbppCredit {
	border-top:1px solid #aaa;
	font-size:12px;	
	margin-top:5px;
	padding-top:3px;
	text-align:right;
	color:#0081a4;
	margin-right:3px;
}

.embedLink {
	color:#0081a4;
	clear:both;
	cursor:pointer;
}

.embedLink:hover {
	text-decoration:underline;
}

div.embedCode {
	display:none;	
	position:absolute;
	height:4em;
	bottom:50px;
	border:1px solid #000;
	z-index:100;
	left:0px;
	width:92%;
	max-width:525px;
	background-color:#fff;
	padding:5px;
}

div.embedCodeArea {
	font-family:"Courier New", Courier, monospace;
	position:relative;
	top:10px;
	background-color:#fff;
	font-size:12px;
	
}